
button{
    color:#0f1419;
    border: 2px solid red;
    border-radius: 20px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

body{
    background: #bbb5bd;
}