body{
    margin: 0;
}

.red{
    background: red;
    height: 100px;
    margin-bottom: 20px;
}
.blue{
    /* margin-top: 20px; */
    background: blue;
    height: 100px;
    margin-bottom: 20px;
}
.green
{
    background: green;
    height:100px;
} 
  
