.subscribe-button {
  background: rgb(255, 0, 0);
  color: whitesmoke;
  border: none;
  /* 		height: 36px;
  width: 108px; */
  padding: 10px 16px 10px 16px;
  margin-right: 8px;
  margin-left: 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  /*  background-color: green; */
  opacity: 0.4;
}

.subscribe-button:active {
  background-color: blue;
}
.join-button:hover {
  /* opacity: 0.8; */
  background-color: rgb(6, 95, 212);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.join-button {
  background-color: white;
  color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(6, 95, 212);
  /* 		height: 36px;
  width: 62px; */
  padding: 9px 15px 9px 15px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 1s, color 1s;
  vertical-align: top;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
/* 		height: 36px;
  width: 80px; */
  padding: 7px 16px 7px 16px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 00.15);
}